/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header-wrapper
{
    overflow: hidden;
    padding: 2em 0em;
    background: #FFF;
}

#header
{
    position: relative;
    width:960px;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo
{
}

#logo h1
{
    display: inline-block;
    margin-bottom: 0.20em;
    font-size: 3.5em;
}

#logo a
{
    text-decoration: none;
    color: #F67C78;
}

#logo span
{
    padding-right: 0.5em;
    text-transform: uppercase;
    font-size: 0.90em;
    color: #F67C78;
}

#logo span a
{
    color: #F67C78;
}



/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

#menu
{
    position: absolute;
    right: 0;
    top: 0;
    border-left: 1px solid rgba(0,0,0,.2);
}

#menu ul
{
    display: inline-block;
    padding: 1em 2em 0em 2em;
    text-align: center;
}

#menu li
{
    display: inline-block;
}

#menu li a, #menu li span
{
    display: inline-block;
    padding: 1.3em 1.5em;
    text-decoration: none;
    font-size: 0.90em;
    font-weight: 600;
    text-transform: uppercase;
    outline: 0;
}

#menu li:hover a, #menu li.active a, #menu li.active span
{
}
#menu li a{
    color:#F67C78;
}
#menu .current_page_item a
{
    background: #F67C78;
    color: #FFF;
}
/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/


#banner
{
    padding: 3em 0em 2em 0em;
}
ul li{
    text-decoration: none;
    list-style: none;
}
/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
.author-footer{
    background-color: #F67C78;height:40px;text-align:center;line-height:40px;color:#fff;
}